@using CoreSkills.Examples.AspNetcore.DependencyInjection.Models
     @model BaseConfig
     <h1>ModelType: @Model.Type</h1>
     <p>@Model.ToString()</p>
     
     <p>also try:</p>
     <ul>
         <li><a href="/">None</a></li>
         <li><a href="/Collections">Collections</a></li>
         <li><a href="/Mixed">Mixed</a></li>
         <li><a href="/Transient">Transient</a></li>
     </ul>